DATABASE_URL=postgresql://user:pass@ep-xxxx.neon.tech/neondb?sslmode=require
DATABASE_URL_FALLBACK=postgresql://postgres:PASSWORD@db.xxxx.supabase.co:5432/postgres?sslmode=require
DATABASE_PREFER=fallback
GEMINI_API_KEY=
